<div class="olimpista__card bg-blue-50 shadow-md rounded-lg overflow-hidden">
  <div class="p-4">
    <div class="border border-gray-200 p-4 bg-white rounded-lg">

      <table class="min-w-full">
        <tbody>
          <div class="bg-[#0A056D] p-6 rounded-lg shadow-lg text-white">
            <div class="space-y-4">
              <div>
                <h3 class="text-xl font-bold">{{ Area.nombre_area }}</h3>
              </div>
              <div class="flex justify-between items-start">
                <p class="text-sm flex-grow">{{ Area.descripcion || 'No disponible' }}</p>
                <button (click)="openAreaEditModal()" class="text-blue-300 hover:text-white ml-2">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
                  </svg>
                </button>
              </div>
            </div>
          </div>

          <!-- Modal de Edición del Área -->
          <div *ngIf="isAreaEditModalOpen"
            class="fixed inset-0 bg-gray-600 bg-opacity-50 flex items-center justify-center">
            <div class="bg-white p-6 rounded-lg shadow-xl w-96">
              <h2 class="text-xl font-bold mb-4">Editar Área</h2>

              <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2">Nombre</label>
                <input type="text" [(ngModel)]="editedAreaNombre"
                  class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
              </div>

              <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2">Descripción</label>
                <textarea [(ngModel)]="editedAreaDescripcion"
                  class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"></textarea>
              </div>

              <div class="flex justify-end space-x-2">
                <button (click)="saveAreaEdit()"
                  class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                  Guardar
                </button>
                <button (click)="closeAreaEditModal()"
                  class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded">
                  Cancelar
                </button>
              </div>
            </div>
          </div>
        </tbody>
      </table>
    </div>
   <!-- Contenedor de Categorías -->
<div class="border border-gray-200 p-4 bg-white rounded-lg">
  <h4 class="text-md font-semibold text-gray-700 mb-3">Categorías</h4>

      <!-- Verifica si hay categorías -->
      <div *ngIf="categorias.length > 0; else noCategorias">
        <div class="grid grid-cols-2 md:grid-cols-3 gap-8 m-8">
          <div *ngFor="let categoria of categorias; let i = index"
            class="bg-white shadow-md rounded-lg overflow-hidden">
            <!-- Parte superior con color personalizado y animación -->
            <!-- Parte superior con color personalizado y animación hacia la derecha con hover más claro -->
            <div
              class="bg-[#6E64C9] p-4 text-white transition-all duration-300 hover:bg-[#7A6EC9] hover:scale-105 transform origin-left">
              <h3 class="text-lg font-semibold">{{ categoria.nombre_nivel }}</h3>
              <p class="text-sm">{{ categoria.descripcion }}</p>
            </div>

        <!-- Parte inferior blanca con detalles -->
        <div class="p-4 flex flex-col space-y-3">
          <h3 class="font-bold">Nombre: {{ categoria.nombre_nivel }}</h3>
          <p class="text-sm">Fecha examen: {{ categoria.fecha_examen | date:'dd/MM/yyyy' }}</p>
          <p class="text-sm">Costo: {{ categoria.costo }} Bs</p>
          <p class="text-sm">Estado:
            <span [class.text-green-500]="categoria.habilitacion" [class.text-red-500]="!categoria.habilitacion">
              {{ categoria.habilitacion ? 'Habilitado' : 'Deshabilitado' }}
            </span>
          </p>

          <!-- Botones responsive -->
          <div class="flex flex-col sm:flex-row sm:space-x-2 mt-3">
            <button (click)="openEditModal(i)" class="w-full sm:w-auto px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 mb-2 sm:mb-0">
              Editar
            </button>
            <button (click)="toggleHabilitacionModal(i)" [class.bg-green-500]="!categoria.habilitacion"
              [class.bg-red-500]="categoria.habilitacion" class="w-full sm:w-auto px-4 py-2 text-white rounded hover:bg-opacity-90">
              {{ categoria.habilitacion ? 'Deshabilitar' : 'Habilitar' }}
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>


      <!-- Modal de Edición de Categoría -->
      <div *ngIf="isEditModalOpen" class="fixed inset-0 bg-gray-600 bg-opacity-50 flex items-center justify-center z-50"
        style="background-color: rgba(75, 85, 99, 0.3); ">
        <div class="bg-white p-6 rounded-lg shadow-xl w-96">
          <h2 class="text-xl font-bold mb-4">Editar Categoría</h2>
          <p class="text-sm text-gray-500 mb-4">Modifica los datos de la categoría.</p>
          <form (ngSubmit)="saveEdit()">
            <div class="mb-4">
              <label class="block text-gray-700 text-sm font-bold mb-2">Nombre</label>
              <input type="text" [(ngModel)]="editedCategoriaTemp.nombre_nivel" name="editedNombre"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                oninput="this.value = this.value.replace(/[^a-zA-Z0-9 ]/g, '')" required />
            </div>
            <div class="mb-4">
              <label class="block text-gray-700 text-sm font-bold mb-2">Descripción</label>
              <select
                class="mt-2 p-2 border border-gray-300 rounded w-full focus:outline-none focus:ring-2 focus:ring-blue-400"
                [(ngModel)]="editedCategoriaTemp.descripcion" name="editedDescripcion" style="background-color: white;">
                <option value="" disabled selected class="text-gray-400"
                  style="max-height: 5px; overflow-y: scroll; scrollbar-width: 2px;">Seleccionar nivel académico
                </option>
                <option value="1ro de Primaria">1ro de Primaria</option>
                <option value="2do de Primaria">2do de Primaria</option>
                <option value="3ro de Primaria">3ro de Primaria</option>
                <option value="4to de Primaria">4to de Primaria</option>
                <option value="5to de Primaria">5to de Primaria</option>
                <option value="6to de Primaria">6to de Primaria</option>
                <option value="1ro de Secundaria">1ro de Secundaria</option>
                <option value="2do de Secundaria">2do de Secundaria</option>
                <option value="3ro de Secundaria">3ro de Secundaria</option>
                <option value="4ro de Secundaria">4to de Secundaria</option>
                <option value="5tro de Secundaria">5to de Secundaria</option>
                <option value="6to de Secundaria">6to de Secundaria</option>
              </select>
            </div>
            <label class="text-sm text-gray-700 mt-4 block">Fecha de examen</label>
            <input type="date" name="editedFecha"
              class="mt-2 p-2 border border-gray-300 rounded w-full focus:outline-none focus:ring-2 focus:ring-blue-400"
              style="background-color: white;" [min]="minDate" [max]="maxDate"
              [(ngModel)]="editedCategoriaTemp.fecha_examen" (keydown)="disableManualInput($event)" required>
            <!-- Costo de la Categoría -->
            <div class="mb-4">
              <label class="block text-gray-700 text-sm font-bold mb-2">Costo</label>
              <input type="number" [(ngModel)]="editedCategoriaTemp.costo" name="editedCosto"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0, 3)" required />
            </div>
            <div class="flex justify-end space-x-2">
              <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                Guardar
              </button>
              <button type="button" (click)="closeEditModal()"
                class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded">
                Cancelar
              </button>
            </div>
          </form>
        </div>
      </div>
      <!-- Modal de confirmación -->
      <div *ngIf="isConfirmModalOpen" class="fixed inset-0 flex items-center justify-center bg-gray-600 bg-opacity-50"
        style="background-color: rgba(75, 85, 99, 0.3); ">
        <div class="bg-white p-6 rounded-lg shadow-lg w-96">
          <h2 class="text-lg font-bold">Confirmación</h2>
          <p class="text-sm text-gray-600">
            ¿Estás seguro de que deseas {{ getHabilitacionTexto() }} esta categoría?
          </p>
          <div class="mt-4 flex justify-end space-x-2">
            <button (click)="toggleHabilitar()" class="px-4 py-2 bg-red-500 text-white rounded hover:bg-red-600">
              Sí, {{getHabilitacionTexto() }}
            </button>
            <button (click)="closeConfirmModal()"
              class="px-4 py-2 bg-gray-300 rounded hover:bg-gray-400">Cancelar</button>
          </div>
        </div>
      </div>

      <!-- Mensaje si no hay categorías -->

      <ng-template #noCategorias>
        <p class="text-gray-500 text-sm italic">No hay categorías registradas.</p>
      </ng-template>
      <!-- Botón para abrir el modal -->
      <button class="mt-4 px-4 py-2 bg-blue-500 text-white rounded" (click)="openModal()">
        Añadir categoría
      </button>
    </div>


    <!-- Modal para añadir categoría-->
    <div *ngIf="isModalOpen" class="fixed inset-0 bg-gray-600 flex justify-center items-center justify-center z-50"
      style="background-color: rgba(75, 85, 99, 0.3);">
      <div class="bg-white p-5 rounded-lg shadow-lg max-w-md w-[600px] max-h-screen overflow-y-auto"
        style="background-color:rgba(255, 255, 255, 1);">

        <!-- Título Principal -->
        <h2 class="text-xl font-bold text-gray-900">Añadir Categoría</h2>
        <p class="text-sm text-gray-500 mb-4">Introduce los detalles de la categoría.</p>

        <!-- Formulario para la categoría -->
        <form #categoryForm="ngForm" (ngSubmit)="saveCategory(categoryForm)">
          <!-- Nombre de Categoría -->
          <div class="mb-4">
            <label class="text-sm text-gray-700">Nombre de la Categoría</label>
            <input type="text" #nombreRef="ngModel" placeholder="Ingresar nombre de la categoría"
              class="mt-2 p-2 border rounded w-full focus:outline-none focus:ring-2" [ngClass]="{
                     'border-gray-300 focus:ring-blue-400': !(nombreRef.touched && nombreRef.invalid),
                     'border-red-500 focus:ring-red-400': nombreRef.touched && nombreRef.invalid
                   }" [(ngModel)]="nuevaCategoria.nombre_nivel" name="categoriaNombre" style="background-color: white;"
              oninput="this.value = this.value.replace(/[^a-zA-Z0-9 ]/g, '')" required>

            <div *ngIf="nombreRef.touched && nombreRef.invalid" class="text-red-500 text-xs mt-1">
              El nombre de la categoría es requerido
            </div>
          </div>

          <!-- Nivel Académico -->
          <div class="mb-4">
            <label class="text-sm text-gray-700 mt-4 block">Nivel Académico</label>
            <select #descripcionRef="ngModel" class="mt-2 p-2 border rounded w-full focus:outline-none focus:ring-2"
              [ngClass]="{
                      'border-gray-300 focus:ring-blue-400': !(descripcionRef.touched && descripcionRef.invalid),
                      'border-red-500 focus:ring-red-400': descripcionRef.touched && descripcionRef.invalid
                    }" [(ngModel)]="nuevaCategoria.descripcion" name="categoriaDescripcion"
              style="background-color: white;" required>
              <option value="" disabled selected class="text-gray-400">Seleccionar nivel académico</option>
              <option value="1ro de Primaria">1ro de Primaria</option>
              <option value="2do de Primaria">2do de Primaria</option>
              <option value="3ro de Primaria">3ro de Primaria</option>
              <option value="4to de Primaria">4to de Primaria</option>
              <option value="5to de Primaria">5to de Primaria</option>
              <option value="6to de Primaria">6to de Primaria</option>
              <option value="1ro de Secundaria">1ro de Secundaria</option>
              <option value="2do de Secundaria">2do de Secundaria</option>
              <option value="3ro de Secundaria">3ro de Secundaria</option>
              <option value="4ro de Secundaria">4to de Secundaria</option>
              <option value="5tro de Secundaria">5to de Secundaria</option>
              <option value="6to de Secundaria">6to de Secundaria</option>
            </select>

            <div *ngIf="descripcionRef.touched && descripcionRef.invalid" class="text-red-500 text-xs mt-1">
              Debe seleccionar un nivel académico
            </div>
          </div>

          <!-- Fecha de examen -->
          <div class="mb-4">
            <label class="text-sm text-gray-700 mt-4 block">Fecha de examen</label>
            <input type="date" #fechaRef="ngModel" placeholder="Ingresar fecha de examen"
              class="mt-2 p-2 border rounded w-full focus:outline-none focus:ring-2" [ngClass]="{
                     'border-gray-300 focus:ring-blue-400': !(fechaRef.touched && fechaRef.invalid),
                     'border-red-500 focus:ring-red-400': fechaRef.touched && fechaRef.invalid
                   }" name="categoriaFechaExamen" style="background-color: white;" [min]="minDate" [max]="maxDate"
              [(ngModel)]="nuevaCategoria.fecha_examen" (keydown)="disableManualInput($event)" required>

            <div *ngIf="fechaRef.touched && fechaRef.invalid" class="text-red-500 text-xs mt-1">
              La fecha de examen es requerida
            </div>
          </div>

          <!-- Costo de la Categoría -->
          <div class="mb-4">
            <label class="text-sm mt-4 block">Costo de la Categoría</label>
            <input type="text" #costoRef="ngModel" placeholder="Ingresar costo"
              class="mt-2 p-2 border rounded w-full focus:outline-none focus:ring-2" [ngClass]="{
                     'border-gray-300 focus:ring-blue-400': !(costoRef.touched && costoRef.invalid),
                     'border-red-500 focus:ring-red-400': costoRef.touched && costoRef.invalid
                   }" style="background-color: white;"
              oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0, 3)" [(ngModel)]="nuevaCategoria.costo"
              name="categoriaCosto" required pattern="[0-9]+">

            <div *ngIf="costoRef.touched && costoRef.invalid" class="text-red-500 text-xs mt-1">
              <span *ngIf="costoRef.errors?.['required']">El costo es requerido</span>
              <span *ngIf="costoRef.errors?.['pattern']">Solo se permiten números</span>
            </div>
          </div>
          <div class="mt-5 flex justify-end gap-4">
            <button type="submit" class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600">Aceptar</button>
            <button type="button" (click)="closeModal()"
              class="px-4 py-2 bg-red-500 text-white rounded hover:bg-red-600">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>