<div>
  <section class="w-full bg-gradient-to-r from-red-600 to-purple-700 py-4 px-4 animate-gradient">
    <h2 class="text-white text-3xl font-bold ">Formas de inscripción</h2>
  </section>
  <h1 class="text-gray-700 font-medium  mr-5  p-4"> Inscripciones abiertas para todos los estudiantes de esculas y colegios de Bolivia.</h1>
  <div class="flex flex-col md:flex-row gap-6 justify-center p-4">
    <button type="button"
    class="flex-1 bg-[#2C2699] text-white p-4 rounded hover:scale-105 transform transition gap-6 max-w-2xl"
    (click)="irAreas()">Inscribirme →</button>
    <button type="button"
    class="flex-1 bg-[#1E1A7A] text-white p-4 rounded hover:scale-105 transform transition max-w-2xl "
      (click)="irAVisualizacion()">Inscribir grupo →</button>
  </div>
</div>
