<div>
  <section class="w-full bg-gradient-to-r from-red-600 to-purple-700 py-4 px-4 animate-gradient">
    <h2 class="text-lg font-semibold mb-4">Formas de inscripción</h2>
  </section>
  <h1> Inscripciones abiertas para todos los estudiantes de esculas y colegios de Bolivia.</h1>
  <div class="flex flex-col md:flex-row gap-6">
    <button type="button"
    class="flex-1 bg-[#2C2699] text-white px-6 py-3 rounded hover:scale-105 transform transition"
    (click)="irAreas()">Inscribirme →</button>
    <button type="button"
    class="flex-1 bg-[#1E1A7A] text-white px-6 py-3 rounded hover:scale-105 transform transition"
      (click)="irAVisualizacion()">Inscribir grupo →s</button>
  </div>
</div>
