<div>
  <section class="w-full bg-gradient-to-r from-red-600 to-purple-700 py-4 px-4 animate-gradient">
    <h1 class="text-white text-3xl font-bold ">FORMAS DE INSCRIPCION</h1>
  </section>
  <h1> Inscripciones abiertas para todos los estudiantes de esculas y colegios de Bolivia.</h1>
  <div class="">
    <button type="button"
      class="bg-green-700 text-white px-4 py-2 rounded flex items-center justify-center h-10 shadow-md hover:bg-green-800 transition"
      (click)="irAreas()">Inscripcion a una area</button>
    <button type="button"
      class="bg-green-700 text-white px-4 py-2 rounded flex items-center justify-center h-10 shadow-md hover:bg-green-800 transition"
      (click)="irAVisualizacion()">Inscripcion con una lista de estudiantes</button>
  </div>
</div>