<div class="olimpista__card">
  <!-- Si quieres poner imágenes, pones src="" -->

  <div class="p-2">
    <h3 class="font-medium mb-4">Datos de la iscripcion:</h3>
    <!-- Contenedor para los datos del olimpista -->
    <div class="border p-4 bg-gray-50 rounded-lg">
      <h4 class="font-semibold text-xl mb-2 text-gray-700">Olimpista</h4>
      <table class="min-w-full">
        <tbody>
          <tr>
            <td class="px-4 py-2 text-sm text-gray-500">Nombre</td>
            <td class="px-4 py-2 text-sm font-bold text-gray-800">{{Inscripcione.olimpistas}}</td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
