<div class="bg-white rounded-lg shadow-md overflow-hidden border border-[#E0E0E0]">
    <div class="overflow-x-auto">
        <table class="min-w-full divide-y divide-[#E0E0E0] font-roboto">
            <thead class="bg-[#1A237E]">
                <tr>
                    <th class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider font-roboto">
                        #</th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider font-roboto">
                        Estudiante</th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider font-roboto">
                        Curso
                    </th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider font-roboto">
                        Área 1
                    </th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider font-roboto">
                        Categoría 1</th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider font-roboto">
                        Área 2
                    </th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider font-roboto">
                        Categoría 2</th>
                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-[#E0E0E0]">
                <!-- Iterar sobre las inscripciones -->
                <tr *ngFor="let inscripcion of inscripciones ?? []">
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700">
                        {{ inscripcion}} {{ inscripcion.estudiante.apellidos }}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700">
                        {{ inscripcion.curso?.nombre || 'N/A' }}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700">
                        {{ inscripcion.area1 || 'N/A' }}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700">
                        {{ inscripcion.categoria1 || 'N/A' }}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700">
                        {{ inscripcion.area2 || 'N/A' }}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700">
                        {{ inscripcion.categoria2 || 'N/A' }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<button (click)="inscribir()"
    class="w-full bg-blue-600 hover:bg-blue-900 text-white font-bold py-2 px-4 rounded-md mt-4">
    Inscribir
</button>
